
.task {
    display: block;
    img{
        width: 100%;
        height: 100%;
    }
}

.task-inner{
    position: relative;
    margin-bottom: 62px;
}


.task-phone {
    position: absolute;
    z-index: 4;
    top: 50px;
    left: -30px;
    width: 600px;
}

.task-screen-1 {
    position: absolute;
    z-index: 5;
    top: -40px;
    left: 120px;
}

.task-screen-2 {
    position: absolute;
    z-index: 6;
    top: 280px;
    left: 90px;
}

.task-star-1 {
    top: 160px;
    left: 560px;
    position: absolute;
    width: 48px;
    z-index: 4;
}

.task-star-2 {
    position: absolute;
    width: 80px;
    top: 620px;
    left: unset;
    right: 95px;
    z-index: 4;
    transform: rotate(45deg);
}

.task-star-3 {
    top: 875px;
    left: 355px;
    z-index: 4;
    position: absolute;
    width: 45px;
}

.task-star-4 {
    top: 977px;
    left: 905px;
    position: absolute;
    z-index: 4;
}

.task-blur {
    position: absolute;
    z-index: 2;
    top: 150px;
}

.task-round {
    position: absolute;
    top: 700px;
    left: 160px;
    z-index: 2;
}


.task-content {
    padding: 266px 0 327px 770px;
}

.task-title {
    font-size: 45px;
    font-weight: 900;
    line-height: 130%;
    color: #2c2c2c;
    margin-bottom: 16px;
}

.task-text {
    font-size: 22px;
    font-weight: 400;
    line-height: 150%;
    max-width: 450px;
}

@media (min-width: 768px) and (max-width: 1351px) {
    .task-inner {
        display: flex;
        flex-direction: column-reverse;
        margin-bottom: 84px;
        padding: 0 48px;
    }

    .task-images {
        position: relative;
        align-self: center;
    }
    
    .task-phone {
        position: relative;
        width: 533px;
        top: 10px;
        left: 27px;
        margin-bottom: 90px;
    }
    .task-screen-1 {
        width: 440px;
        top: -80px;
        left: 150px;
    }
    .task-screen-2 {
        width: 410px;
        top: 225px;
        left: 140px;
    }

    .task-star-1 {
        width: 30px;
        top: 140px;
        left: unset;
        right: 40px;
    }

    .task-star-2 {
        width: 60px;
        top: 520px;
        left: 10px;
        right: unset;
    }

    .task-star-3 {
        width: 40px;
        top: 860px;
        left: 55px;
        right: unset;
    }

    .task-star-4 {
        width: 40px;
        top: 960px;
        left: 475px;
        right: unset;
    }

    .task-blur {
        top: 80px;
        left: 20px;
    }

    .task-round {
        top: 602px;
        left: 190px;
    }

    .task-content{
        padding: 78px 0 0;
    }

    .task-title {
        font-size: 36px;
        margin-bottom: 20px;
    }

    .task-text {
        font-size: 20px;
        max-width: 78.13vw;
    }
}

@media (max-width: 767px) {
    .task-inner {
        margin-bottom: 43px;
        padding: 0 12px;
        display: flex;
        flex-direction: column-reverse;
        width: calc(100% - 32px);
        margin: auto;
    }

    .task-images {
        position: relative;
        align-self: center;
    }

    .task-phone {
        width: 250px;
        top: 30px;
        left: 0;
        position: relative;
        margin-bottom: 90px;
    }

    .task-screen-1 {
        width: 200px;
        top: -10px;
        left: 65px;
    }

    .task-screen-2 {
        width: 195px;
        top: 130px;
        left: 55px;
    }

    .task-star-1 {
        width: 20px;
        top: 62px;
        left: unset;
        right: 0;
    }

    .task-star-2 {
        width: 30px;
        top: 300px;
        left: 0;
        right: unset;
    }

    .task-star-3 {
        width: 25px;
        top: 455px;
        left: 5px;
        right: unset;
    }

    .task-star-4{
        width: 25px;
        top: 508px;
        left: 230px;
        right: 18px;
        img {
            width: 15px;
            height: 15px;
        }
    }

    .task-blur {
        width: 200px;
        top: 20px;
        left: 0;
    }

    .task-round {
        width: 120px;
        top: 310px;
        left: 80px;
    }

    .task-content {
        padding: 53px 0 0;
    }

    .task-title {
        font-size: 20px;
        margin-bottom: 27px;
    }

    .task-text {
        font-size: 16px;
        max-width: 78.13vw;
    }
}

@media (min-width: 1352px) {
    .task-inner {
        margin: auto;
        width: 1272px;
    }
    .task-star-4 {
        img {
            width: 30px;
            height: 30px;
        }
    }
    
    .task-star-3 {
        img {
            height: 45px;
        }
    }
    .task-phone {
        height: 738px;
    }
}